@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, monospace;

  --color-bg: #0b0d10;
  --color-bg-elev: #11151a;
  --color-bg-soft: #161b22;
  --color-border: #222a33;
  --color-border-soft: #1a2128;

  --color-fg: #e6edf3;
  --color-fg-muted: #8b949e;
  --color-fg-subtle: #6e7681;

  --color-accent: #7c5cff;
  --color-accent-soft: #2a1f55;

  --color-sev-critical: #ff4d6d;
  --color-sev-high: #ff8a3d;
  --color-sev-medium: #ffd166;
  --color-sev-low: #4cc9f0;
  --color-sev-info: #8b949e;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

::selection {
  background: color-mix(in oklab, var(--color-accent) 35%, transparent);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1f2630;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2a3340;
}
